/*
** Colin Powell
** CS290 - How-To (NASA APIs)
** 2/21/17
*/

h1 {
	margin: 10px;
	text-align: center;
	font-family: sans-serif;
}

input[type="submit"] {
	display: block;
	margin: auto;
	padding: 10px;
	background-color: aliceblue;
	border-radius: 2px; 
}

#image-container {
	display: flex;
	flex-wrap: wrap;
	margin: 5px;
	padding: 10px;
	justify-content: center;
	align-items: center;
}

#image-container img {
	margin: 5px;
	width: 30%;
}

